* {
    padding:0;
    margin:0;
}
body {
    background-color:#444;
    color:#DDD;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-gap:0;
    text-align: center;
    grid-template-areas: "p1 p2 tools"
                         "p3 p4 tools";
}
.row {
    background-color:#122;
    border:1px solid white;
}
.col {
    background-color:#122;
    border:1px solid white;
}
.col input, .col button, .col span {
    display: inline-block;
    margin-top: 20px;
}
.col label {
    margin-top: 10vh;
}
.names {
    margin-bottom: 20px;
    background-color: transparent;
    display:block;
    margin:auto;
    color:#DDD;
    border: none;
    outline: none;
    text-align: center;
}
::placeholder {
    color:#DDD;
}
select {
    margin-bottom:20px;
}
table {
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}
td, th {
    border:1px solid white;
}
label {
    width: 10vw;
    text-align: left;
    display: inline-block;
}
h2 {
    margin: 10px;
}
button:nth-last-child(1) {
    margin-top: 20px;
}
button {
    background-color: transparent;
    border:1px solid white;
    color:white;
    padding:4px;
}
input {
    background-color: #EEE;
    border: 1px solid black;
    padding:2px;
}
@media only screen and (max-width: 600px) {
    body {
        background-color:#444;
        color:#DDD;
        font-family: Arial, Helvetica, sans-serif;
        height: 100vh;
        display: grid;
        text-align: center;
        grid-template-areas: "p1" "p2" "p3" "p4" "tools";
    }
}