body {
	text-align:center;
	background-color:#333;
	font-family:Arial;
	padding:10px;
	color:cyan;
}
* {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	margin:auto;
	max-width:600px;
}
td {
	border:1px solid black;
	min-width:100px;
	height:20px;
	padding:2px;
    text-overflow:clip;
    white-space: nowrap;
}
.colors {
	background-color:white;
	width:50px;
	height:40px;
	font-weight:bold;
	display:inline-block;
}
.colors input {
	width:48px;
	border-style:none;
	background-color:white;
}
.colors img {
	display:block;
	margin:auto;
}
.colors p {
	color:black;
}
#a {
	display:none;
}
th {
	border:1px solid black;
	min-width:100px;
	width:100px;
	height:20px;
	padding:2px;
	background-color:#444;
	color:#bbb;
	text-align:center;
	background-clip: padding-box;
}
tr th {
	position: sticky;
	top: 0;
	left:0;
	z-index: 10;
}
#holder {
	overflow-x:scroll;
	overflow-y:scroll;
	max-height:85vh;
	max-width:98vw;
	position:absolute;
}
#holder::-webkit-scrollbar {
	width:10px;
	height:10px;
	background-color:none;
	scroll-margin-left:40px;
}
#holder::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
#holder::-webkit-scrollbar-thumb {
  background: #AAA;
  border-radius: 10px;
}
#holder::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}