body {
	color:#02bc8b;
	background-color:#222222;
	font-family:arial;
	text-align:center;
	margin-top:2.5em;
}
* {
	margin:0;
	padding:0;
}
canvas {
	border:1px solid white;
}
#charCreate {
	width:800px;
	height:800px;
}