* {
    margin: 0;
    padding: 0;
    background-color: #222;
}

body {
    text-align: center;
    color: #DDD;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-items: center;
}

h3 {
    padding: 10px;
}

canvas {
    border: 1px solid white;
    display: block;
    margin: 10px;
}

p {
    display: block;
    border: 1px solid rgb(56, 206, 136);
    border-radius: 10px;
    border-width: 3px;
    width: 300px;
    height: 90px;
    padding: 10px;
    background-color: #DDD;
    color: black;
}